<h1>Edit User</h1>

<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <div id="error">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li> <%= message%> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>